/* Section 1: Original Seven Styling */

/* For selector immediately below, only display 'show row weights' toggle at top level */
.field--type-entity-reference-revisions td .tabledrag-toggle-weight-wrapper {
  display: none;
}

.clearfix > .dropbutton-wrapper > .dropbutton-widget {
  max-width: 125px;
}

.paragroup.button-wrapper {
  display: block;
  float: right;
}

.paragroup .buttons {
  margin: 0 5px 0 0;
}

.paragroup .button {
  margin: 0 0 0 15px;
  max-width: 135px;
}

.paragroup.toggle-all {
  width: 200px;
}

.layout-region-node-main > .paragroup.toggle-all {
  float: right;
}

#edit-group-paragraphs > .paragroup.toggle-all {
  float: left;
  margin: 10px 0 20px 20px;
}

@media screen and (max-width: 975px) {
  #edit-group-paragraphs > .paragroup.toggle-all {
    display: block;
    float: none;
    margin: 0 0 0 auto;
  }
}

#edit-group-paragraphs .messages {
  margin: 30px 0 20px 10px;
}

details.js-form-wrapper:not(.field-group-tab) > .details-wrapper > .js-form-wrapper > .paragraphs-dropbutton-wrapper > .dropbutton-multiple {
  position: relative;
  right: 30px;
  bottom: 30px;
}

html.paragroup-on .form-actions .placeholder {
  display: inline-block;
  margin-left: 4px;
}

.paragroup.return-to-top {
  float: right;
}


/* Section 2: General provisional fixes */

/* Temporary Gin Fix */
html.paragroup-on #block-gin-content .js-form-wrapper:not(:last-child) {
  margin-bottom: 20px;
}

/* Add some spacing to right of 'Add Paragraph' button
   so that the 'to [Paragraph Type]' text has space to the left. */
.paragraphs-add-wrapper {
  display: inline-block !important;
  margin-right: 8px !important;
}


/* Section 3: Additional styling fixes for Claro, Gin and Seven admin themes */

.paragroup-on.pg-d-ten #block-claro-content .layout-region--node-main {
  overflow-x: hidden;
}

/* Claro .layout-region__content fix */
.paragroup-on.pg-full-width-forms.pg-d-nine #block-claro-content .layout-region--node-main .layout-region__content,
.paragroup-on.pg-full-width-forms.pg-d-nine #block-claro-content .layout-region--node-footer .layout-region__content {
  max-width: none !important;
}

.paragroup-on.pg-full-width-forms.pg-d-ten #block-claro-content .layout-region--node-main {
  margin: 0 35px 0 0;
  vertical-align: top;
}


/* Field Group fixes */
@media screen and (max-width: 1200px) {
  html.paragroup-on .vertical-tabs__menu {
    width: 35%;
  }

  html.paragroup-on .vertical-tabs .vertical-tabs__panes {
    margin-left: 35%;
  }

}


/* Field Group overflow scrolling */
html.paragroup-on #block-gin-content .vertical-tabs__panes,
html.paragroup-on #block-claro-content .vertical-tabs__panes,
html.paragroup-on #block-seven-content .vertical-tabs__panes,
html.paragroup-on #block-gin-content .field-group-tab.form-wrapper,
html.paragroup-on #block-claro-content .field-group-tab.form-wrapper,
html.paragroup-on #block-seven-content .field-group-tab.form-wrapper {
  overflow-x: auto;
}

html.paragroup-on .vertical-tabs__item {
  overflow-x: visible !important;
}

@media screen and (max-width: 975px) {
  html.paragroup-on .claro-details__wrapper--vertical-tabs-item {
    overflow-x: auto;
  }
}


/* Edit page section width modifications for Seven and Claro */
@media screen and (min-width: 976px) and (orientation: landscape) and (min-device-height: 780px) {

  html.paragroup-on.pg-full-width-forms #block-seven-content .layout-region-node-secondary,
  html.paragroup-on.pg-full-width-forms #block-claro-content .layout-region--node-secondary {
    width: 25%;
    display: inline-block;
  }

  html.paragroup-on.pg-full-width-forms.pg-d-ten:not(.pg-sidebar-config) #block-claro-content .layout-region--node-secondary {
    width: 23%;
  }

  html.paragroup-on.pg-full-width-forms #block-claro-content .layout-region--node-secondary {
    margin-top: 12px;
  }

  html.paragroup-on.pg-full-width-forms #block-seven-content .layout-region-node-secondary {
    margin-top: 10px;
  }

  html.paragroup-on.pg-sidebar-config #block-seven-content .layout-region-node-secondary,
  html.paragroup-on.pg-sidebar-config #block-claro-content .layout-region--node-secondary {
    width: 100%;
  }

}

@media screen and (min-width: 976px) and (orientation: landscape) and (min-device-height: 780px) {

  html.paragroup-on.pg-full-width-forms #block-seven-content .layout-region-node-main,
  html.paragroup-on.pg-full-width-forms #block-seven-content .layout-region-node-footer,
  html.paragroup-on.pg-full-width-forms #block-claro-content .layout-region--node-main,
  html.paragroup-on.pg-full-width-forms #block-claro-content .layout-region--node-footer {
    width: 72%;
    display: inline-block;
  }

  html.paragroup-on.pg-full-width-forms.pg-d-nine #block-claro-content .layout-region--node-main,
  html.paragroup-on.pg-full-width-forms.pg-d-nine #block-claro-content .layout-region--node-footer {
    width: 74%;
    display: inline-block;
  }


  html.paragroup-on.pg-full-width-forms.pg-sidebar-config #block-seven-content .layout-region-node-main,
  html.paragroup-on.pg-full-width-forms.pg-sidebar-config #block-seven-content .layout-region-node-footer,
  html.paragroup-on.pg-full-width-forms.pg-sidebar-config #block-claro-content .layout-region--node-main,
  html.paragroup-on.pg-full-width-forms.pg-sidebar-config #block-claro-content .layout-region--node-footer {
    width: 100%;
    padding: 0;
  }

}

/* Enable Sidebar Config functionality in Claro on Drupal 10 by restoring Drupal 9 non-grid styling: */
html.paragroup-on.pg-full-width-forms.pg-d-ten #block-claro-content .layout-node-form {
  display: block;
}

html.paragroup-on.pg-d-ten.pg-sidebar-config #block-claro-content .layout-node-form .layout-region--node-footer {
  margin: 0;
}
