/* Original Seven Styling */
.paragroup.elements {
  margin: 20px 0 35px 0;
}

.elements-title {
  margin-bottom: 32px;
}

.elements-backup {
  margin: 36px 0 38px 0;
}

summary {
  background-color: #f5f5f2;
}

details[open] summary {
  margin: 0 0 0.25em 0;
  /*border-bottom: 1px solid #ccc;*/
}

summary span {
  text-transform: none;
  font-weight: normal;
  font-size: 1.05em;
}

.paragroup.intro,
.paragroup.explan,
.paragroup.select {
  display: block;
  margin: 0 0 12px 0;
}

.info-section .explan {
  margin: 0;
}

.info-section {
  margin-bottom: 12px;
}

.info-section-title {
  display: inline-block;
  padding-bottom: 2px;
  font-weight: bold;
}

details > .container {
  padding-top: 10px;
  margin-bottom: 25px;
}

.paragroup.intro {
  font-weight: bold;
}

.paragroup.more-info {
  display: inline-block;
  padding-bottom: 10px;
}

ul.paragroup.explan {
  padding-left: 1em;
}

.paragroup.explan li {
  padding-left: 2px;
  margin: 0 0 3px 5px;
}

#block-gin-content .paragroup.explan li,
#block-claro-content .paragroup.explan li {
  font-size: 12px;
}

span.paragroup.select {
  display: block;
  margin: 0 0 15px 0;
}

.elements-title,
.elements-title > b,
.elements-backup {
  font-size: 14px;
}

.seven-details__description {
  margin: 20px 0;
}

#edit-admin-titles-group,
#edit-details-widget-group,
#edit-field-groups-group {
  margin-bottom: 20px;
}

.name-field {
  font-weight: bold;
}

table {
  table-layout: fixed;
}

table td,
table th {
  overflow: hidden;
  word-wrap: break-word;
}

.guidelines summary {
  background-color: transparent;
  border-bottom: none;
  text-transform: none;
  color: #0074bd;
  text-decoration: underline;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 0;
  font-weight: normal;
  cursor: pointer;
}

#pg-rec-config-link {
  font-weight: bold;
}


/* Claro / Gin Styling */
#block-gin-content table.responsive-enabled th,
#block-gin-content table.responsive-enabled td,
#block-claro-content table.responsive-enabled th,
#block-claro-content table.responsive-enabled td {
  font-size: 13px;
}
